/* 
	WisePass Internal Dashboard Style Sheet
	Created by Aymeric Matencio
/*
/* Theme Basic */
	@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
	html, body {
		width: 100%;
		min-width: 100%;
	}
	body {
		font-family: 'Open Sans', sans-serif;
	}
	.wrapper {
		width: 100%;
	    padding-right: 15px;
	    padding-left: 15px;
	    margin-right: auto;
	    margin-left: auto;
	}
/* Theme Misc */
	h2.title {
		font-size: 1.3em;
		padding: 5px 20px 15px 20px;
		font-weight: 600;
	}
	.s-pad {
		padding-right: 0px;
		padding-left: 0px; 
	}
	.card-title {
		font-size: 0.8em;
		font-weight: 500;
	}
	.card-subtitle {
		font-size: 0.6em;
		font-weight: 300;
	}
	.findb .card-body {
		min-height: 250px;
		white-space: nowrap; /* Careful, might need to remove this */
	}
/*Bar stuff */
	.barWrapper {
		position: absolute;
		bottom: 0px;
		width: 100%;
		display: inline-grid;
	}
	.tooltip { 
		position:relative;
		float:right;
	}
	.tooltip > .tooltip-inner {
		background-color: #eebf3f; 
		padding:5px 15px; 
		color:rgb(23,44,66); 
		font-weight:bold; 
		font-size:13px;}
	.popOver + .tooltip > .tooltip-arrow {	
	/*	border-left: 5px solid transparent; 
		border-right: 5px solid transparent; 
		border-top: 5px solid #eebf3f; */
	}
	.progress{
		height: 5px !important;
		border-radius: 0px !important;
	  	overflow:visible;
		background-color: rgb(23,44,60) !important;
		margin-bottom: unset !important;
	}
	.progressText {
		height: 100%;
		width: 100%;
		display: inline-block;
		padding-left: 4px;
		padding-right: 4px;
	}
	.progress-bar{
	 	-webkit-transition: width 1.5s ease-in-out;
	  	transition: width 1.5s ease-in-out;
	}
	.textKpi {
		float: right;
	}
	.textIndex {
		float: left;
	}
	b {
		font-size: large;
	}
	.col-6-no-padding {
		padding-right: 0px !important;
		padding-left: 0px !important;
	}
	.inside-col-6-rev {
		padding-right: 15px;
    	padding-left: 15px;
	}
/*End of bar stuff*/
	.number-pct {font-size: 2.3em;	font-weight: 600;}
	.number-usd {font-size: 2em;	font-weight: 600;}
	.number-vnd {font-size: 1em;	font-weight: 600;}
	.number-thb {font-size: 1.5em;	font-weight: 600;}
	.number-pct::after {content: '\0025'; font-size: 24px; font-weight: 400;}
	.number-usd::after {content: '\0024'; font-size: 24px; font-weight: 400;}
	.number-vnd::after {content: '\20AB'; font-size: 18px; font-weight: 400;}
	.number-thb::after {content: '\0E3F'; font-size: 20px; font-weight: 400;}

/* Theme Colors: Base:#482b88 */
	.wp-bg-main-nav {
		background-color: #190f2f;
	}
	.wp-bg-main {
		background-color: #21143e;
		color: #f3effa;
	}
	/* .wp-nav-dropdown {
		background-color: #110A1F;
	} */
	.wp-nav-dropdown .dropdown-item {
		color:  #f3effa;
	}	
	.wp-nav-dropdown {
		background-color: #190f2f !important;		
	}
	.dropdown-item:hover {
		background-color: #110A1F !important;
	}
	.card {
		background-color: #110a1f;
		color: #e1e1e1;
		border-color: rgba(66, 40, 123, 0.5);
	}
	.card-subtitle {
		color: #999999;
	}
	.KPI .progress {
		background-color: #22143E;
	}
	.KPI .progress .bar {
		background-color: #23aacb;
	}
	.col-6-home {
		background-color: #110a1f;
	}
/* Theme Charts & Trend*/
	.RevExpLegend {
		position: absolute;
		top: 27px;
		right: 32px;
		font-size: 11px;
	}
	.RevExpLegend ul li {
		list-style:none;
		display: inline-block;
		padding-left: 10px;
	}
	.RevExpLegend ul li span {
		width:12px; 
		height:12px;
		border-radius: 100%;
		display: inline-block;
		margin-right:5px; 
	}
	.value-increase {
		color: green;
		font-size: 30px;
	}
	.value-increase::before {
		font-family: 'FontAwesome';
		content: "\F0D8";
		font-size: 20px;
		padding-right: 10px;
	}
	.value-decrease {
		color: red;
		font-size: 30px;
	}
	.value-decrease::before {
		font-family: 'FontAwesome';
		content: "\F0D7";
		font-size: 20px;
		padding-right: 15px;
	}
	.RevenuesVsExpenses-canvas {
		width: 100% !important;
	}
	.RevenuesVsCOGS-canvas {
		width: 100%;
	}
	.card-gross-margin {
		height: 100%;
	}
	.card-marketing-spend {
		height: 100%;
	}
	.card-rev-cog {
		height: 100%;
	}
	.col-height {
		height: 100%;
	}
	.card-rev {
		height: 100%;
	}
	.col-padding {
		padding-right: 0px !important;
		padding-left: 0px !important;
	}
	.col-padding-left {
		padding-left: 5px !important;
	}
	#draggablePanelList .panel-heading{
		cursor: move;
	}
	.panel {
		margin-bottom: initial !important;
		width: 100%;
	}
	.panel-heading {
		text-align: center;
		color: white !important; 
		background-color: #29184b !important;
		border-color: inherit !important;
	}
	.panel-body {
		width: 100%;
		height: 100%;
		position: relative;
		overflow: unset;
		display: block;
		border-radius: 8px !important;
	}
	.panel-info {
		background: none !important;
		border-color: #422778 !important;
	}
	.panel-col {
		width: 25% !important;
		height: 100%;
		display: inline-block;
	}
	.panel-col-right {
		float: right !important;
	}
	.height-col-div {
		height: 280px;
	}
	.number-usd {
		display: inline-flex;
	}

/* Theme Responsiveness */
	@media (min-width: 320px) { /* Mobile */
		.wrapper { max-width: 344px }
		.col-container { 
			display: flex; 
			overflow: auto;
		}
		.col-6-home { margin: 2px; }
		.col-6-chart {
			flex: 0 0 50%;
			max-width: 100%;
		}
	}
	@media (min-width: 576px) { /* SM */
		.wrapper { max-width: 540px; }
	}
	@media (min-width: 768px) { /* MD */
		.wrapper { max-width: 720px; }
		.card-title { font-size: 1.1em; font-weight: 500; }
		.card-subtitle {font-size: 0.8em;}
		.RevExpLegend { font-size: 14px;}
		.findb .card-body {min-height: 321px;}
		.col-6-chart {
			flex: 0 0 50%;
		}
	}
	@media (min-width: 992px) { /* LG */
		.wrapper { max-width: 85%; }
		.number-pct {font-size: 2.5em;}
		.number-usd {font-size: 2.5em;}
		.number-vnd {font-size: 2em;}
		.number-thb {font-size: 2.44em;}
		.findb .card-body {min-height: 321px;}
		.col-6-chart {
			flex: 0 0 50%;
			max-width: 76.1%;
			margin: 2px auto;
		}
		.col-container { justify-content: center; }
	}
	@media (min-width: 1200px) { /* XL */
		.findb .card-body {min-height: 321px;}
		.value-increase {font-size: 35px;}
		.value-decrease {font-size: 40px;}		
		.value-increase::before {font-size: 28px;}
		.value-decrease::before {font-size: 28px;}
		.col-6-chart {
			flex: 0 0 50%;
			max-width: 75.9%;
		}
	}

	/* 
	*	1600px - 1916px (XXL, Super Large Monitor)
	*/
	@media (min-width: 1600px) { /* XXL */
		.wrapper { max-width: 97%; }
		.wrapper-header { max-width: 93.5%; }
		.wrapper-body { 
			display: -webkit-flex;
			display: flex;
			-webkit-flex-flow: row wrap;
			flex-flow: row wrap;
			margin-left: 51px;
    		max-width: 95.5%;
		}
		.row-revenues, .row-income, .row-cost { 
			width: 50%; 
		}
		.row-income { margin-left: 15px !important; }
		.col-6-chart {
			flex: 0 0 50%;
			max-width: 76.2%;
		}
	}
	@media (min-width: 1800px) {
		.wrapper-header { max-width: 94%; }
		.wrapper-body { margin: 0 4.1em; }
	}

/* XXL - Super Wide Screen Grid Adjustment */
	.col-xxl-1, .col-xxl-2, .col-xxl-3, .col-xxl-4, .col-xxl-5, .col-xxl-6, .col-xxl-7, .col-xxl-8, .col-xxl-9, .col-xxl-10, .col-xxl-11, .col-xxl-12, .col-xxl,
	.col-xxl-auto {
	  position: relative;
	  width: 100%;
	  min-height: 1px;
	}
	
	/* @media (min-width: 1600px) {
	  .col-xxl {-ms-flex-preferred-size: 0; flex-basis: 0; -ms-flex-positive: 1; flex-grow: 1; max-width: 100%;}
	  .col-xxl-auto {-ms-flex: 0 0 auto; flex: 0 0 auto; width: auto; max-width: none;}
	  .col-xxl-1 {-ms-flex: 0 0 8.333333%; flex: 0 0 8.333333%; max-width: 8.333333%;}
	  .col-xxl-2 {-ms-flex: 0 0 16.666667%; flex: 0 0 16.666667%; max-width: 16.666667%;}
	  .col-xxl-3 {-ms-flex: 0 0 25%; flex: 0 0 25%; max-width: 25%;}
	  .col-xxl-4 {-ms-flex: 0 0 33.333333%; flex: 0 0 33.333333%; max-width: 33.333333%;}
	  .col-xxl-5 {-ms-flex: 0 0 41.666667%; flex: 0 0 41.666667%; max-width: 41.666667%;}
	  .col-xxl-6 {-ms-flex: 0 0 50%; flex: 0 0 50%; max-width: 50%;}
	  .col-xxl-7 {-ms-flex: 0 0 58.333333%; flex: 0 0 58.333333%; max-width: 58.333333%;}
	  .col-xxl-8 {-ms-flex: 0 0 66.666667%; flex: 0 0 66.666667%; max-width: 66.666667%;}
	  .col-xxl-9 {-ms-flex: 0 0 75%; flex: 0 0 75%; max-width: 75%;}
	  .col-xxl-10 {-ms-flex: 0 0 83.333333%; flex: 0 0 83.333333%; max-width: 83.333333%;}
	  .col-xxl-11 {-ms-flex: 0 0 91.666667%; flex: 0 0 91.666667%; max-width: 91.666667%;}
	  .col-xxl-12 {-ms-flex: 0 0 100%; flex: 0 0 100%; max-width: 100%;}
	  .order-xxl-first {-ms-flex-order: -1; order: -1;}
	  .order-xxl-1 {-ms-flex-order: 1; order: 1;}
	  .order-xxl-2 {-ms-flex-order: 2; order: 2;}
	  .order-xxl-3 {-ms-flex-order: 3; order: 3;}
	  .order-xxl-4 {-ms-flex-order: 4; order: 4;}
	  .order-xxl-5 {-ms-flex-order: 5; order: 5;}
	  .order-xxl-6 {-ms-flex-order: 6; order: 6;}
	  .order-xxl-7 {-ms-flex-order: 7; order: 7;}
	  .order-xxl-8 {-ms-flex-order: 8; order: 8;}
	  .order-xxl-9 {-ms-flex-order: 9; order: 9;}
	  .order-xxl-10 {-ms-flex-order: 10; order: 10;}
	  .order-xxl-11 {-ms-flex-order: 11; order: 11;}
	  .order-xxl-12 {-ms-flex-order: 12; order: 12;}
	  .offset-xxl-0 {margin-left: 0;}
	  .offset-xxl-1 {margin-left: 8.333333%;}
	  .offset-xxl-2 {margin-left: 16.666667%;}
	  .offset-xxl-3 {margin-left: 25%;}
	  .offset-xxl-4 {margin-left: 33.333333%;}
	  .offset-xxl-5 {margin-left: 41.666667%;}
	  .offset-xxl-6 {margin-left: 50%;}
	  .offset-xxl-7 {margin-left: 58.333333%;}
	  .offset-xxl-8 {margin-left: 66.666667%;}
	  .offset-xxl-9 {margin-left: 75%;}
	  .offset-xxl-10 {margin-left: 83.333333%;}
	  .offset-xxl-11 {margin-left: 91.666667%;}
	}   */